.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3em;
    padding-block: 0.5em;

    .dropdown-container {
        margin-inline-start: auto;
        margin-inline-end: 20px;
        position: relative;

        .drop-down-button {

            background-color: transparent;
            border: none !important;
            outline: none;
            color: $font-headers;
            width: 12em;
            padding-top: 10px;
            font-weight: 500;
            font-size: 0.8em;
            font-style: italic;
            cursor: pointer;
            .drop-down-title {
                font-size: 1.3em;
                font-weight: 500;
                color: $font-headers;

                svg {
                    width: 0.8em;
                    height: 0.8em;
                }

                .arrow {
                    padding-inline-start: 2px;

                    svg {
                        transform: translateY(2px);
                        transition: 0.3s transform ease;
                    }
                }

                .show {
                    svg {
                        transform: rotate(90deg);
                    }
                }
            }

            .drop-down-content {
                position: absolute;
                top: 2em;
                right:5px;
                list-style: none !important;
                padding-inline-start: 0;
                background-color: $light-background;                ;
                color: $font-primary;
                padding-block: 1em;
                border-radius: 5px;
                text-align: start;
                z-index: 1000;
                li {
                    padding-inline: 2em;
                    margin-bottom: 0.7em;
                    position: relative;
                    min-width: 6em;
                    cursor: pointer;
                }

                li:hover {
                    color: $font-headers;
                }

                li:hover::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0.2em;
                    height: 1.3em;
                    background: $font-headers 0% 0% no-repeat padding-box;
                    border-radius: 0px 2px 2px 0px;
                }
            }
        }

    }
}

.header-title {
    display: flex;
    align-items: center;
    margin-inline-start: 0.5em;
    color: $font-headers;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    font-family: 'Lobster';

    .header-icon {
        margin-inline-end: 0.3em;

        svg {
            padding-top: 8px;
            width: 1em;
            height: 1em;
        }
    }
}