table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: none;
    padding: 8px;
    text-align: center;
}

table td {
    border-right: 0.01px solid var(--font-secondary);
    padding: 8px;
    text-align: center;
    color: var(--font-secondary);
}
table tr:nth-child(even) {
    background-color: var(var(--light-background));
}


table tbody tr:hover {
    background-color: var(--table-hover);
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--font-secondary);
    border: none;
    color: var(--font-headers);
}

table tbody {
    border-bottom: 0.01px solid var(--font-secondary);
    border-left: 0.01px solid var(--font-secondary);
    border-right: 0.01px solid var(--font-secondary);
}

.table-wrapper{
    height: 100%;
    width: 100%;
    overflow-x: auto;
}