.weather-item-container{
    width:8em;
    margin-inline-end: 3em;
    margin-bottom:1em;
    .weather-item-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $font-primary;
        font-weight: 500;
        font-size: 1em;
        font-style: italic;
        img{
            width:20px;
            height: 20px;
            margin-inline-end: 2px;
        }
    }
    .weather-item-value{
        padding-inline-start: 22px;
        color: $font-headers;
        font-size: 0.8em;
        font-weight: 400;
    }
}